{{template "base" .}}

{{define "content" }}
 <div id="terminal"></div>
{{end}}

{{define "js"}}
 <script src="/static/js/xterm/xterm.js"></script>
 <script src="/static/js/xterm-addon-fit/xterm-addon-fit.js"></script>
 <script src="/static/js/app.js"></script>
{{end}}